<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/js/jquery.maskedinput.min.js"></script>
    <script src="/js/func.js"></script>
    <title>{title}</title>
</head>
<body>
<header>
    <a class="logo" href="/">
        tz
    </a>
    <div class="contact">
        <span>Гвоздиков Д.А.</span>
        <a href="tel:89282442541">+7(928)244-25-41</a>
    </div>
</header>
<nav class="top_menu">
    <a id="index_m" class="top_menu_elem" href="/">Главная</a>
    <a id='comment_m' class="top_menu_elem" href="/comment/">Комментировать</a>
    <a id='view_m' class="top_menu_elem" href="/view/">Просмотр</a>
    <a id='stat_m' class="top_menu_elem" href="/stat/">Статистика</a>
</nav>
<div class="line"></div>