<section class='container'>
    <h1>Статистика</h1>
    <div class='win'>
        <div class='coll'>
            <h2>Фильтры</h2>
            <div class='menu'>
                <div class='btn btn--standart' data-win='win-1'>Более 5</div>
                <div class='btn btn--standart' data-win='win-2'>Все регионы</div>
            </div>
        </div>
        <div class='region coll'>
            <h2>Регионы</h2>
            <div id='win-1' class='reg_more win__el' data-win-el='win-1'>
                {region_more}
            </div>
            <div id='win-2' class='reg_stat win__el' data-win-el='win-2'>
                {all_reg_stat}
            </div>
        </div>
        <div class='coll'>
            <h2>Города</h2>
            <div class='city_stat'></div>
        <div>
    </div>
</section>